@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #f8f7ff;
}

.SecondColor{
    color: #9381ff;
}
.thridColor{
    color: #b8b8ff;
}

.ourContainer{
    max-width: 1255px;
    margin: 0 auto;
    width: 100%;
}




@media (min-width: 320px) and (max-width: 1281px) {
    .ourContainer{
        width: 90%;
        margin: 0 auto;
    }

}


.out-text {
    font-size: 60px;
    font-weight: bold;
    color: transparent; /* Makes the text fill transparent */
    -webkit-text-stroke: 1px black; /* Adds a black outline */
    /* text-align: center; */
}


.ox{
    background-color: red;
}